/************************************************************************************** */
/**-------------------------- VARIALBLES ---------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- RESET --------------------------------------------------* */
/************************************************************************************** */
/* line 16, ../sass/master.sass */
body, html {
  background: #ff6600;
  font-size: 16px;
  width: 100%;
}

/************************************************************************************** */
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- TEXTOS           ---------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------       WRAPPER         -        --------------------------* */
/************************************************************************************** */
/* line 37, ../sass/master.sass */
.mainWrapper {
  background-color: white;
  max-width: 1107px;
  width: 100%;
}

/* line 42, ../sass/master.sass */
.mainWrapper--padding {
  padding: 70px 0 0 0;
}

/* line 46, ../sass/master.sass */
.wrapper-flex {
  display: flex;
}

/* line 51, ../sass/master.sass */
.mainWrapper__title {
  border-left: 3px solid #ff6600;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
  padding: 0 0 0 10px;
}

/* line 60, ../sass/master.sass */
.section-wrapper-relative {
  position: relative;
}

/************************************************************************************** */
/**-------------------------- HEADER   -----------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- FOOTER   -----------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**--------------------------     LOGO  --------  ------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- NAVIGATION ----------------------------------------------* */
/************************************************************************************** */
/* line 84, ../sass/master.sass */
.mainNav {
  background-color: #2f2f2f;
}
/* line 88, ../sass/master.sass */
.mainNav ul {
  margin: 0 auto;
}
/* line 90, ../sass/master.sass */
.mainNav ul li {
  border-top: 3px solid transparent;
  margin: 2px 12px 15px;
  padding: 15px 8px 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 97, ../sass/master.sass */
.mainNav ul li:hover, .mainNav ul li.current-menu-item, .mainNav ul li.current-page-item {
  border-top: 3px solid #ff6600;
}
/* line 100, ../sass/master.sass */
.mainNav ul li:hover a, .mainNav ul li.current-menu-item a, .mainNav ul li.current-page-item a {
  color: #ff6600;
}
/* line 103, ../sass/master.sass */
.mainNav ul li a {
  color: white;
  display: block;
  font-size: 0.75em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 113, ../sass/master.sass */
.mainNav ul li a:hover {
  text-decoration: none;
}

/************************************************************************************** */
/**-------------------------- WIDGETS    ----------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- ------   BANNERS   ------------------------------------* */
/************************************************************************************** */
/* line 131, ../sass/master.sass */
.sectionBanner .carousel-caption__content {
  position: absolute;
  z-index: 99999;
  top: 32.5%;
}
/* line 137, ../sass/master.sass */
.sectionBanner .carousel-caption__content h2 {
  background: #2f2f2f;
  color: white;
  font-size: 1.6875em;
  font-weight: 700;
  margin: 0 auto;
  padding: 14px 21px;
}
/* line 145, ../sass/master.sass */
.sectionBanner .carousel-caption__content p {
  background-color: #ff6600;
  color: white;
  font-size: 1.125em;
  line-height: 1em;
  margin: 0 auto;
  padding: 6px 31px 11px;
}
/* line 154, ../sass/master.sass */
.sectionBanner .carousel-caption__content--left {
  left: 9.97%;
}
/* line 156, ../sass/master.sass */
.sectionBanner .carousel-caption__content--right {
  right: 9.97%;
}
/* line 161, ../sass/master.sass */
.sectionBanner .carousel-indicators li {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: white;
  border: none;
  height: 14px;
  margin: 0 7px;
  width: 14px;
}
/* line 170, ../sass/master.sass */
.sectionBanner .carousel-indicators li.active {
  background-color: #ff6600;
}

/************************************************************************************** */
/**-------------------------- ------  PORTADA     ------------------------------------* */
/************************************************************************************** */
/* line 179, ../sass/master.sass */
.sectionHomeService {
  margin: 0 20px;
  max-width: 720px;
  width: 68%;
}
/* line 185, ../sass/master.sass */
.sectionHomeService .sectionHomeService__content {
  flex-wrap: wrap;
  margin: 15px auto 0;
}
/* line 190, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article {
  margin: 0 12px 34px;
  max-width: 330px;
  width: 46%;
}
/* line 197, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article:hover h3 {
  background-color: #ff6600;
}
/* line 199, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article:hover img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 204, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article h3 {
  background-color: #2f2f2f;
  color: white;
  font-size: 1.125em;
  margin: 0 auto;
  padding: 14px 0;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 213, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article figure {
  overflow: hidden;
}
/* line 215, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article figure img {
  -moz-transition: all 450ms ease-in-out;
  -o-transition: all 450ms ease-in-out;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

/* line 222, ../sass/master.sass */
.sectionHomeFacebook__content {
  border: 2px solid #ff6600;
  border-left: none;
}

/* line 227, ../sass/master.sass */
.sectionHomeProyects {
  background-color: #f1eff0;
  padding: 45px 20px;
}
/* line 232, ../sass/master.sass */
.sectionHomeProyects h2 {
  color: #ff6600;
}
/* line 236, ../sass/master.sass */
.sectionHomeProyects .bx-wrapper {
  padding: 0 0 0 15px;
}
/* line 238, ../sass/master.sass */
.sectionHomeProyects .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  margin: 0 auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 246, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article h2 {
  background-color: #c2c2c2;
  color: #2f2f2f;
  font-size: 1.375em;
  margin: 0 auto;
  padding: 12px;
  text-decoration: none;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 255, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article a {
  text-decoration: none;
}
/* line 259, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article figure {
  overflow: hidden;
  position: relative;
}
/* line 262, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article figure img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 265, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article figure .bg-transparence {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 277, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article:hover h2 {
  background-color: #ff6600;
  color: white;
}
/* line 280, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article:hover img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 282, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article:hover .bg-transparence {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 288, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__carousel__arrow {
  cursor: pointer;
  height: 20px;
  margin: -10px auto 0;
  position: absolute;
  top: 50%;
  width: 10px;
  z-index: 9999;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
/* line 299, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__carousel__arrow:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 303, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__carousel__arrow a {
  color: transparent;
}
/* line 307, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__carousel__arrow--prev {
  left: 0;
  background: url("../images/arrows/arrow-left.png") no-repeat;
}
/* line 311, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__carousel__arrow--next {
  right: 0;
  background: url("../images/arrows/arrow-right.png") no-repeat;
}

/* line 316, ../sass/master.sass */
.sectionClients {
  padding: 45px 20px;
}
