/************************************************************************************** */
/**-------------------------- VARIALBLES ---------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- RESET --------------------------------------------------* */
/************************************************************************************** */
/* line 21, ../sass/master.sass */
body, html {
  background: #ff6600;
  font-size: 16px;
  width: 100%;
}

/************************************************************************************** */
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------* */
/************************************************************************************** */
/* line 35, ../sass/master.sass */
.sectionCarousel__arrow {
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: transparent;
  cursor: pointer;
  height: 20px;
  margin: -10px auto 0;
  position: absolute;
  top: 50%;
  width: 10px;
  z-index: 9999;
}
/* line 46, ../sass/master.sass */
.sectionCarousel__arrow a {
  color: transparent;
}
/* line 51, ../sass/master.sass */
.sectionCarousel__arrow:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* line 56, ../sass/master.sass */
.sectionCarousel__arrow--prev {
  left: 0;
  background: url("../images/arrows/arrow-left.png") no-repeat;
}

/* line 60, ../sass/master.sass */
.sectionCarousel__arrow--next {
  right: 0;
  background: url("../images/arrows/arrow-right.png") no-repeat;
}

/* line 65, ../sass/master.sass */
.item-flexbox {
  display: flex;
}

/* line 67, ../sass/master.sass */
.item-flexbox-wrap {
  flex-wrap: wrap;
}

/* line 69, ../sass/master.sass */
.item-flexbox-justify {
  justify-content: space-around;
}

/* line 74, ../sass/master.sass */
.bn_ImagePage img {
  min-width: 1107px;
}

/* line 78, ../sass/master.sass */
.line-gray-separator {
  background: #c2c2c2;
  display: block;
  height: 4px;
  margin: 0 2%;
}

/************************************************************************************** */
/**-------------------------- TEXTOS           ---------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------       WRAPPER         -        --------------------------* */
/************************************************************************************** */
/* line 94, ../sass/master.sass */
.mainWrapper {
  background-color: white;
  max-width: 1107px;
  width: 100%;
}

/* line 99, ../sass/master.sass */
.mainWrapper--padding {
  padding: 70px 0 0 0;
}

/* line 103, ../sass/master.sass */
.wrapper-flex {
  display: flex;
}

/* line 108, ../sass/master.sass */
.mainWrapper__title {
  border-left: 3px solid #ff6600;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
  padding: 0 0 0 10px;
}

/* line 117, ../sass/master.sass */
.section-wrapper-relative {
  position: relative;
}

/* line 121, ../sass/master.sass */
.sectionWrapper__content {
  padding: 57px 52px 0;
}

/************************************************************************************** */
/**-------------------------- HEADER   -----------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- FOOTER   -----------------------------------------------* */
/************************************************************************************** */
/* line 137, ../sass/master.sass */
.mainFooter {
  width: 100%;
}

/* line 141, ../sass/master.sass */
.mainFooter__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1145px;
  padding: 12px 20px;
  width: 90.6%;
}
/* line 150, ../sass/master.sass */
.mainFooter__content .text-copyright {
  color: #848484;
  font-size: 0.75em;
}
/* line 155, ../sass/master.sass */
.mainFooter__content .text-web {
  color: white;
  font-size: 1.5em;
}
/* line 158, ../sass/master.sass */
.mainFooter__content .text-web span {
  color: #ff6600;
}

/* line 162, ../sass/master.sass */
.mainFooter__content--center {
  align-items: center;
}
/* line 165, ../sass/master.sass */
.mainFooter__content--center p {
  margin: 0;
}

/* line 169, ../sass/master.sass */
.mainFooter__prefooter {
  background: url("../images/footer/bn_inicio_inferior.jpg") no-repeat;
  background-size: 100% 100%;
}

/* line 176, ../sass/master.sass */
.item-prefooter h2 {
  color: white;
  font-size: 1.125em;
  font-weight: 700;
  margin: 0 auto 12px;
}
/* line 183, ../sass/master.sass */
.item-prefooter p {
  color: #848484;
  font-size: 13px;
}

/* line 188, ../sass/master.sass */
.item-prefooter--info {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  max-width: 620px;
  padding: 0 0 0 39px;
}
/* line 194, ../sass/master.sass */
.item-prefooter--info .logo__black {
  position: absolute;
  left: -110px;
}
/* line 198, ../sass/master.sass */
.item-prefooter--info .info__about {
  display: inline-block;
  margin: 0 13px 0 0;
  width: 65%;
  vertical-align: top;
}
/* line 203, ../sass/master.sass */
.item-prefooter--info .info__about-img {
  display: inline-block;
}

/* line 207, ../sass/master.sass */
.item-prefooter--sociales {
  align-content: center;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-wrap: wrap;
  min-width: 191px;
  padding: 0 10px;
}
/* line 216, ../sass/master.sass */
.item-prefooter--sociales .item-prefooter__social-links {
  list-style-type: none;
  margin: 15px auto 0;
  padding: 0;
}
/* line 220, ../sass/master.sass */
.item-prefooter--sociales .item-prefooter__social-links li {
  display: inline-block;
  padding: 0 5px;
}
/* line 223, ../sass/master.sass */
.item-prefooter--sociales .item-prefooter__social-links li a {
  display: block;
  height: 31px;
  width: 31px;
}

/* line 229, ../sass/master.sass */
.item-prefooter--contacto {
  padding: 0 0 0 25px;
}
/* line 232, ../sass/master.sass */
.item-prefooter--contacto .text-orange {
  color: #a26c3d;
}

/* line 236, ../sass/master.sass */
.mainFooter__info {
  background: black;
}

/************************************************************************************** */
/**--------------------------     LOGO  --------  ------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- NAVIGATION ----------------------------------------------* */
/************************************************************************************** */
/* line 249, ../sass/master.sass */
.mainNav {
  background-color: #2f2f2f;
}
/* line 253, ../sass/master.sass */
.mainNav ul {
  margin: 0 auto;
}
/* line 255, ../sass/master.sass */
.mainNav ul li {
  border-top: 3px solid transparent;
  margin: 2px 12px 15px;
  padding: 15px 8px 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 262, ../sass/master.sass */
.mainNav ul li:hover, .mainNav ul li.current-menu-item, .mainNav ul li.current-page-item {
  border-top: 3px solid #ff6600;
}
/* line 265, ../sass/master.sass */
.mainNav ul li:hover a, .mainNav ul li.current-menu-item a, .mainNav ul li.current-page-item a {
  color: #ff6600;
}
/* line 268, ../sass/master.sass */
.mainNav ul li a {
  color: white;
  display: block;
  font-size: 0.75em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 278, ../sass/master.sass */
.mainNav ul li a:hover {
  text-decoration: none;
}

/************************************************************************************** */
/**-------------------------- WIDGETS    ----------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- ------   BANNERS   ------------------------------------* */
/************************************************************************************** */
/* line 296, ../sass/master.sass */
.sectionBanner .carousel-caption__content {
  position: absolute;
  z-index: 99999;
  top: 32.5%;
}
/* line 302, ../sass/master.sass */
.sectionBanner .carousel-caption__content h2 {
  background: #2f2f2f;
  color: white;
  font-size: 1.6875em;
  font-weight: 700;
  margin: 0 auto;
  padding: 14px 21px;
}
/* line 310, ../sass/master.sass */
.sectionBanner .carousel-caption__content p {
  background-color: #ff6600;
  color: white;
  font-size: 1.125em;
  line-height: 1em;
  margin: 0 auto;
  padding: 6px 31px 11px;
}
/* line 319, ../sass/master.sass */
.sectionBanner .carousel-caption__content--left {
  left: 9.97%;
}
/* line 321, ../sass/master.sass */
.sectionBanner .carousel-caption__content--right {
  right: 9.97%;
}
/* line 326, ../sass/master.sass */
.sectionBanner .carousel-indicators li {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: white;
  border: none;
  height: 14px;
  margin: 0 7px;
  width: 14px;
}
/* line 335, ../sass/master.sass */
.sectionBanner .carousel-indicators li.active {
  background-color: #ff6600;
}

/************************************************************************************** */
/**-------------------------- ------  PORTADA     ------------------------------------* */
/************************************************************************************** */
/* line 344, ../sass/master.sass */
.sectionHomeService {
  margin: 0 20px;
  max-width: 720px;
  width: 68%;
}
/* line 350, ../sass/master.sass */
.sectionHomeService .sectionHomeService__content {
  flex-wrap: wrap;
  margin: 15px auto 0;
}
/* line 355, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article {
  margin: 0 12px 34px;
  max-width: 330px;
  width: 46%;
}
/* line 362, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article:hover h3 {
  background-color: #ff6600;
}
/* line 364, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article:hover img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 369, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article h3 {
  background-color: #2f2f2f;
  color: white;
  font-size: 1.125em;
  margin: 0 auto;
  padding: 14px 0;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 378, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article figure {
  overflow: hidden;
}
/* line 380, ../sass/master.sass */
.sectionHomeService .sectionHomeService__article figure img {
  -moz-transition: all 450ms ease-in-out;
  -o-transition: all 450ms ease-in-out;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

/* line 387, ../sass/master.sass */
.sectionHomeFacebook__content {
  border: 2px solid #ff6600;
  border-left: none;
}

/* line 392, ../sass/master.sass */
.sectionHomeProyects {
  background-color: #f1eff0;
  padding: 45px 20px;
}
/* line 397, ../sass/master.sass */
.sectionHomeProyects h2 {
  color: #ff6600;
}
/* line 401, ../sass/master.sass */
.sectionHomeProyects .bx-wrapper {
  padding: 0 0 0 15px;
}
/* line 403, ../sass/master.sass */
.sectionHomeProyects .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  margin: 0 auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 411, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article h2 {
  background-color: #c2c2c2;
  color: #2f2f2f;
  font-size: 1.375em;
  margin: 0 auto;
  padding: 12px;
  text-decoration: none;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 420, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article a {
  text-decoration: none;
}
/* line 424, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article figure {
  overflow: hidden;
  position: relative;
}
/* line 427, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article figure img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 430, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article figure .bg-transparence {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 442, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article:hover h2 {
  background-color: #ff6600;
  color: white;
}
/* line 445, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article:hover img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 447, ../sass/master.sass */
.sectionHomeProyects .sectionHomeProyects__article:hover .bg-transparence {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 451, ../sass/master.sass */
.sectionClients {
  padding: 45px 20px;
}
/* line 455, ../sass/master.sass */
.sectionClients .bx-wrapper {
  padding: 0;
}
/* line 457, ../sass/master.sass */
.sectionClients .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  margin: 0 auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 464, ../sass/master.sass */
.sectionClients .sectionClients__carousel {
  padding: 0 20px;
}

/************************************************************************************** */
/**--------------------------  SECCION DE NOSOTROS  ----------------------------------* */
/************************************************************************************** */
/* line 475, ../sass/master.sass */
.sectionNosotros h2 {
  border-left: 3px solid #ff6600;
  font-size: 1.375em;
  margin: 0 0 20px;
  padding: 0 0 0 6px;
}
/* line 482, ../sass/master.sass */
.sectionNosotros p {
  color: #848484;
  font-size: 0.8125em;
}

/* line 487, ../sass/master.sass */
.sectionNosotros--bg-orange {
  background: #ff6600;
  margin: 25px 0;
  width: 48%;
}

/* line 493, ../sass/master.sass */
.sectionNosotros__mision, .sectionNosotros__vision {
  color: white;
  padding: 20px;
}
/* line 498, ../sass/master.sass */
.sectionNosotros__mision h2, .sectionNosotros__vision h2 {
  border-left: 3px solid rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 503, ../sass/master.sass */
.sectionNosotros__mision p, .sectionNosotros__vision p {
  color: white;
}

/* line 507, ../sass/master.sass */
.sectionNosotros__valores {
  margin: 0 auto 27px;
}
