
@import "compass/css3"

/***************************************************************************************/
/**-------------------------- VARIALBLES ---------------------------------------------**/
/***************************************************************************************/

$color_black       : #2f2f2f


$color_damol_orange: #ff6600
$color_orange_suave: #a26c3d

$color_gray        : #f1eff0
$color_gray_dark   : #c2c2c2
$color_gray_text   : #848484

$color_damol_gray  : #666666 

/***************************************************************************************/
/**-------------------------- RESET --------------------------------------------------**/
/***************************************************************************************/
body,html
	background: $color_damol_orange
	font-size : 16px
	width     : 100%


//keyframe
+keyframes(element-estirar)
	0%
		+scaleX(1)
	50%
		+scaleX(1.8)
		+box-shadow( 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6) )
		background:  linear-gradient( 90deg, rgba(47, 47, 47, 0) 0%, rgba(47, 47, 47, 0.2) 25%, rgba(47, 47, 47 , 0.2) 75%, rgba(47, 47, 47 , 0) 100%)

	100%
		+scaleX(1)
//keyframe
+keyframes(element-estirar-2)
	0%
		+scaleX(1)
	50%
		background: white
	100%
		background: $color_black


/***************************************************************************************/
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------**/
/***************************************************************************************/


//>>>>>>> FLECHAS DE CAROUSEL 
	//flechas
.sectionCarousel__arrow 
	+transition( all 400ms ease )
	color   : transparent
	cursor  : pointer 
	height  : 20px
	margin  : -10px auto 0
	position: absolute
	top     : 50%
	width   : 10px
	z-index : 9999

	a 
		color : transparent
	

	//hover 
	&:hover 
		+opacity(0.7)
		+scale( 1.2 )

//prev
.sectionCarousel__arrow--prev
	left: 0
	background: url('../images/arrows/arrow-left.png') no-repeat
//next
.sectionCarousel__arrow--next
	right: 0
	background: url('../images/arrows/arrow-right.png') no-repeat

//>> ITEMS FLEXBOX
.item-flexbox
	display: flex
.item-flexbox-wrap
	flex-wrap: wrap 
.item-flexbox-justify
	justify-content: space-around

//>>> FIGURE - BANNERS
.bn_ImagePage
	img
		min-width: 1107px

//>>> LINEA SEPARADORA
.line-gray-separator
	background: $color_gray_dark
	display   : block
	height    : 4px 
	margin    : 0 2% 


//>>>> BOTON TOP UP de la Página
.btn__top-page
	background         : url("../images/arrows/arrowup.png") no-repeat $color_damol_orange
	background-position: 50%
	display            : block 
	height             : 42px 
	margin             : 18px 22px 0
	width              : 42px
	+box-shadow( -4px 3px 0 rgba(0,0,0,.3) )
	+transition( all 300ms ease )

	//hover 
	&:hover 
		+box-shadow( -4px 3px 0 black )
		+scale( 1.2 )
		background-color: rgba(0,0,0,.3)


//>>>> BOTON VERSION MOBILE SOLO ABRE ASIDE LADO DERECHO DE LA PAGINA
.btn__more-to-aside
	background     : $color_damol_orange
	color          : white 
	margin         : 0 auto 20px
	padding        : 10px 12px 
	text-decoration: none 
	+border-radius( 5px )
	+transition( all 500ms ease )
	//hover
	&:hover, &:focus 
		color          : white 
		text-decoration: none 
	&:hover
		+opacity( 0.7 )




/***************************************************************************************/
/**-------------------------- TEXTOS           ---------------------------------------**/
/***************************************************************************************/

//titulos
.title-subcontent-pages
	border-left: 3px solid $color_damol_orange
	font-size  : 1.25em
	margin     : 0 auto 44px 
	padding    : 0 0 0 12px 

/***************************************************************************************/
/**-------------------------       WRAPPER         -        --------------------------**/
/***************************************************************************************/

//>>> MAIN WRAPPER
.mainWrapper
	background-color: white 
	max-width       : 1107px
	width           : 100%

.mainWrapper--padding 
	padding: 70px 0 0 0

//>>> WRAPPER flex
.wrapper-flex
	align-content:center 
	display      : flex

//TITULOS
.mainWrapper__title
	border-left: 3px solid $color_damol_orange
	color      : black
	font-size  : 1.5em 
	font-weight: 700
	margin     : 0 auto
	padding    : 0 0 0 10px 
//en blanco
.mainWrapper__title--white
	color: white

//>>> WRAPPER POSITION relative
.section-wrapper-relative
	position: relative

//>> WRAPPER CONTENIDO 
.sectionWrapper__content
	padding: 57px 52px 0




/***************************************************************************************/
/**-------------------------- HEADER   -----------------------------------------------**/
/***************************************************************************************/

//contenedor small main header
.mainHeader__content-small
	background: white
	padding   : 8px 
		
	//iconos menu para abrir navegacion
	.icon-header
		background: $color_damol_gray
		color     : $color_damol_orange 
		font-size : 2.5rem
		padding   : 4px 

//contenedor de logo
.content-logo
	max-width: 202px
	padding  : 2% 0 
	width    : 65%
.content-logo--white
	background: white


//SEPARADOR MAIN HEADER
.mainHeader-padding-separator
	height: 6rem



/***************************************************************************************/
/**-------------------------- ASIDES  SIDEBAR MOBILE ---------------------------------**/
/***************************************************************************************/

.sidebarMobile
	padding: 20px 0
	z-index: 99
//lado derecho overlay
.sidebarMobile--right
	//padding: 150px 0 0

/***************************************************************************************/
/**-------------------------- FOOTER   -----------------------------------------------**/
/***************************************************************************************/

.mainFooter
	width: 100%

//>>> contenedor limite
.mainFooter__content 
	display        : flex
	justify-content: space-between
	margin         : 0 auto 
	max-width      : 1145px
	padding        : 12px 20px
	width          : 90.6%

	//clases interiores
	.text-copyright
		color    : $color_gray_text
		font-size: 0.75em

	//text-web
	.text-web
		color    : white 
		font-size: 1.5em
		span 
			color: $color_damol_orange

//>>contenedor centrado items certicamente
.mainFooter__content--center
	align-items: center

	p 
		margin: 0

//>>PREFOOTER
.mainFooter__prefooter
	background     : url('../images/footer/bn_inicio_inferior.jpg') no-repeat
	background-size: 100% 100%

//>>Clases para cada artículo
.item-prefooter
	//title
	h2 
		color      : white
		font-size  : 1.125em
		font-weight: 700
		margin     : 0 auto 12px

	//parrafo
	p 
		color: $color_gray_text
		font-size: 13px

//item de informacion
.item-prefooter--info
	border-right: 2px solid rgba(255,255,255,.5)
	max-width   : 500px
	padding     : 0 0 0 39px
	width       : 40%

	//logo
	.logo__black
		position: absolute
		left: -110px
	//parrafo
	.info__about
		/*display       : inline-block*/
		/*width         : 65%*/
		margin        : 0 13px 0 0
		vertical-align: top
	.info__about-img
		display: inline-block
		float  : left
		margin : 0 20px 0 0

//item de redes sociales
.item-prefooter--sociales
	/*align-content: center*/
	border-right : 2px solid rgba(255,255,255,.5)
	display      : flex
	flex-wrap    : wrap
	padding      : 0 10px
	width        : 30%

	//lista
	.item-prefooter__social-links
		list-style-type: none
		margin         : 15px auto 0 
		padding        : 0
		width          : 80% 
		li 
			display: inline-block
			padding: 0 5px
			a 
				display: block
				height : 50px
				width  : 50px

//item informacion de contacto 
.item-prefooter--contacto
	padding: 0 0 0 25px
	width  : 30%

	.text-orange
		color: $color_orange_suave

//>>mainFooter__info BARRA DE INFORMACIÓN
.mainFooter__info
	background: black

/***************************************************************************************/
/**--------------------------     LOGO  --------  ------------------------------------**/
/***************************************************************************************/

.logo
	margin   : 15px auto
	max-width: 502px
	position : absolute
	top      : 0
	width    : 37%

/***************************************************************************************/
/**-------------------------- NAVIGATION ----------------------------------------------**/
/***************************************************************************************/

//nav
.mainNav
	background-color: $color_black

	//ul
	ul
		margin : 0 auto
		padding: 0
		li 
			border-top: 3px solid transparent
			margin    : 2px 12px 0
			padding   : 15px 8px 15px
			position  : relative
			+transition( all 300ms ease )

			//activo seccion actual
			&:hover,&.current-menu-item,&.current-page-item,&.current-menu-ancestor
				border-top: 3px solid $color_damol_orange
				a 
					color: $color_damol_orange

			&:hover
				//pero no del submenu
				.sub-menu
					max-height: 400px
					//+transition( height 800ms , opacity 150ms ease )
					li 
						a 
							color: white	
			a 
				color          : white
				display        : block
				font-size      : 0.75em
				font-weight    : 600 
				text-decoration: none
				text-transform : uppercase
				+transition( all 300ms ease )
				
				//hover
				&:hover 
					text-decoration: none

			//submenu
			.sub-menu
				background-color: $color_black
				left            : -12px 
				list-style-type : none 
				margin          : 0 auto 
				display         : block 
				max-height          : 1px
				overflow        : hidden
				padding         : 0 
				position        : absolute
				z-index         : 9999
				+transition( all 500ms ease-in-out )

				li 
					border  : none 
					margin  : 5px 12px
					padding : 8px
					position: relative

					//activo seccion actual
					&:hover,&.current-menu-item,&.current-page-item
						border: none 
						a 
							color: $color_damol_orange

//navigation nofixed
.mainNav--anim

//navigation fixed
.mainNav--fixed
	left    : 0 
	position: fixed
	right   : 0 
	top     : 0
	z-index : 999
	//+animation(element-estirar 900ms linear)


/***************************************************************************************/
/**-------------------------- WIDGETS    ----------------------------------------------**/
/***************************************************************************************/



/***************************************************************************************/
/**-------------------------- ------   BANNERS   ------------------------------------**/
/***************************************************************************************/

//BANNER PORTADA HOME
.sectionBanner
	
	//contenido caption interior.
	.carousel-caption__content 
		bottom       : 90px
		margin-bottom: 35px
		position     : absolute
		z-index      : 99999
		+text-shadow( 5px 4px 4px #000 )

		//ESTILOS DE FUENTES E INTERIOR
		h2
			background : transparent
			color      : white
			font-size  : 1.6875em
			font-weight: 700
			margin     : 0 auto
			padding    : 14px 21px

		p 
			background-color: transparent
			color           : white
			font-size       : 1.125em
			line-height     : 1em 
			margin          : 0 auto 
			padding         : 6px 31px 11px
			position        : absolute
			right           : 0
			width           : 100%

	//contenido administrado en el backend izquierda o derecha
	.carousel-caption__content--left
		left: 9.97%
	.carousel-caption__content--right
		right: 9.97%

	//>>>>> INDICADORES -ol
	.carousel-indicators
		li 
			+border-radius(0px)
			background: white 
			border    : none
			height    : 14px
			margin    : 0 7px 
			width     : 14px

			//activo
			&.active
				background-color: $color_damol_orange


/***************************************************************************************/
/**-------------------------- ------  PORTADA     ------------------------------------**/
/***************************************************************************************/

//seccion servicios
.sectionHomeService
	margin   : 0 20px 
	max-width: 720px
	width    : 68%

	
	.sectionHomeService__content
		flex-wrap: wrap
		margin   : 15px auto 0

	//article
	.sectionHomeService__article
		margin   : 0 12px 34px
		max-width: 330px
		width    : 46%
		
		//hover 
		&:hover 
			h3 
				background-color: $color_damol_orange
			img
				+scale( 1.2 )
				+opacity(0.7 )

		//titulo 
		h3 
			background-color: $color_black
			color           : white 
			font-size       : 1.125em 
			margin          : 0 auto
			padding         : 14px 0
			+transition( all 450ms ease )

		//imagen
		figure 
			overflow: hidden
			img
				+transition( all 450ms ease-in-out )

//seccion facebook
//contenedor
.sectionHomeFacebook 
	
.sectionHomeFacebook__content
	border     : 2px solid $color_damol_orange
	border-left: none

//Seccion Proyectos Realizados
.sectionHomeProyects
	background     : url('../images/parallax1.jpg') 50% 0 repeat fixed
	background-size: 100%
	padding        : 45px 20px

	//title con color naranja
	h2 
		color: white

	//CAROUSEL
	.bx-wrapper
		padding: 0 0 0 15px
		.bx-viewport
			background: transparent
			border    : none
			margin    : 0 auto 
			+box-shadow( none )

	//>>>>>>> ARTICULO DEL CAROUSEL
	.sectionHomeProyects__article
		h2
			background-color: $color_gray_dark
			color           : $color_black
			font-size       : 14px
			margin          : 0 auto
			padding         : 12px
			text-decoration : none
			word-break      : break-all
			+transition( all 500ms ease )

		a 
			text-decoration: none

		//imagen 
		figure 
			overflow: hidden
			position: relative
			img 
				+transition( all 500ms ease )
			//span transpancia
			.bg-transparence
				+opacity(0)
				+transition( all 500ms ease )
				background: rgba(0,0,0,.2)
				bottom    : 0
				left      : 0
				position  : absolute
				right     : 0
				top       : 0

		//hover 
		&:hover 
			h2
				background-color: $color_damol_orange
				color           : white 
			img
				+scale( 1.2 )
			.bg-transparence
				+opacity(1)

//Seccion Clientes Carousel
.sectionClients
	padding: 45px 20px
	
	//contenedor por defecto libreria bxslider
	.bx-wrapper
		padding: 0
		.bx-viewport
			background: transparent
			border    : none
			margin    : 0 auto 
			+box-shadow( none )

	//contenedor de carousel
	.sectionClients__carousel
		padding: 0 20px


/***************************************************************************************/
/**--------------------------  SECCION DE NOSOTROS  ----------------------------------**/
/***************************************************************************************/

.sectionNosotros

	//TITULO
	h2 
		border-left: 3px solid $color_damol_orange
		font-size  : 1.375em
		margin     : 0 0 20px 
		padding    : 0 0 0 6px 

	//parrafo
	p 
		color    : black
		font-size: 0.8125em

//section background orange
.sectionNosotros--bg-orange
	background: $color_damol_orange  
	margin    : 25px 0
	width     : 48% 

//secciones independientes mision y vision
.sectionNosotros__mision,.sectionNosotros__vision
	color  : white 
	padding: 20px

	//TITULO
	h2 
		border-left: 3px solid rgba(0,0,0,.8) 
		color      : white

	//parrafo
	p
		color: white 

//section valores
.sectionNosotros__valores , .sectionService__content
	margin: 0 auto 27px

	//lista 
	ul 
		list-style-type: none 
		li 
			color    : black
			font-size: 0.8125em
			padding  : 0 0 0 20px

			&:before
				+border-radius( 50% )
				background    : $color_damol_orange
				color         : $color_gray_text
				content       : " " /* Insert content that looks like bullets */
				display       : inline-block 
				height        : 8px 
				margin        : -3px 5px 0px -14px
				vertical-align: middle
				width         : 8px 


/***************************************************************************************/
/**--------------------------  SECCION DE SERVICIOS ----------------------------------**/
/***************************************************************************************/

//contenedor posicion absoluta banner
.sectionService__content-banner
	left      : 0
	margin    : -50px 0 0 0
	position  : absolute
	right     : 0
	text-align: center
	top       : 50%
	z-index   : 99

	//title
	h2
		color    : white
		margin   : 0 auto 50px 

		strong 
			font-size: 1.16em 

	//parrafo
	p 
		color: white 
		span 
			color: $color_damol_orange

//contenedor de informacion 
.sectionService__content
	padding: 28px 50px 45px

	//parrafo
	p 
		color     : black 
		font-size : 0.875em
		text-align: justify

//contenedor seccion de galeria de imagenes
.sectionService__galery
	margin: 45px auto 0

	figure
		margin  : 0 0 15px
		overflow: hidden

		img 
			+transition( all 600ms ease )
			width: 100%

		&.zoom
			&:hover
				img
					+scale(1.2)

/***************************************************************************************/
/**--------------------------  SECCION PROYECTOS   ----------------------------------**/
/***************************************************************************************/

//item
.sectionProject__item
	p 
		word-break: break-all

//image item
.sectionProject__item-image
	margin  : 0 auto 20px
	position: relative

	//figcaption
	figcaption
		background: $color_damol_orange
		bottom    : 0
		color     : white 
		left      : 85px 
		min-width : 250px
		padding   : 13px 55px 
		position  : absolute


//SINGLE DE CADA PROJECTO DE LA PAGINA PROJECTOS

//informacion del projecto
.sectionProjectos__single-project
	word-break: break-all

//galeria del projecto
.sectionProjectos__single-project__gallery
	figure 
		margin  : 0 auto 15px
		overflow: hidden
		width   : 100%

		&:hover
			img 
				+scale( 1.3 )

		img
			max-width: 100%
			height   : auto
			+transition( all 600ms ease )




//aside de categoria y sus projectos respectivos
.sectionProjectos__categories
	margin   : 0 auto 
	max-width: 215px 
	width    : 100% 

	//titulo
	.title-category
		background: $color_damol_orange
		color     : white 
		font-size : 18px  
		margin    : 0 auto 7px
		padding   : 15px 18px 

	//lista
	.list_project_by_category
		list-style-type: none
		margin         : 0 auto 
		padding        : 0

		//panel
		.panel
			+border-radius( 0px )

		//panel heading
		.panel-heading
			+border-radius( 0px )
			+transition( all 500ms ease)
			background: gray
			border    : 2px solid gray 
			padding   : 0

			h4 
				a
					color          : white  
					display        : block
					margin         : 0 auto 5px 
					padding        : 15px 18px 
					text-decoration: none

		//cuerpo del panel
		.panel-body
			border-top: 2px solid black !important
			border    : 2px solid black 
			a 
				color          : black
				display        : block 
				margin         : 0 0 5px 
				text-decoration: none
				+transition( all 500ms ease)

				//activo y hover
				&.active, &:hover 
					color: $color_damol_orange
					padding: 0 0 0 10px

		li 
			a 	
				background     : gray
				border         : 2px solid gray 
				color          : white  
				display        : block
				margin         : 0 auto 5px 
				padding        : 15px 18px 
				text-decoration: none
				+transition( all 500ms ease)

				&.active,&:hover 
					color          : black  
					background     : white 





/***************************************************************************************/
/**--------------------------  SECCION Contacto ----------------------------------**/
/***************************************************************************************/

//Oficinas
.sectionContacto__info__office
	width: auto 

	h2
		color      : #fb9f20
		font-size  : 20px
		font-weight: 700
		margin     : 0 auto 24px

	p
		color         : black 
		font-size     : 0.8125em
		font-weight   : 700
		margin        : 0 0 13px 29px 
		text-align    : left
		/*text-transform: capitalize*/

	span 
		color      : rgba( 0 ,0 , 0 , .8 )
		display    : block
		font-size  : 0.8125em
		font-weight: 700 
		margin     : 0 0 0 29px
		padding    : 10px 
		position   : relative

		i.line-orange__icon
			background : transparent 
			border-left: 2px solid #fb9f20 
			border-top : 2px solid #fb9f20 
			height     : 16px
			left       : 0
			position   : absolute
			top        : 0
			width      : 40px

	//iconos miniatura
	.icon 
		background-repeat: repeat 
		background-size  : 100% 100% 
		display          : inline-block
		height           : 20px 
		margin           : 0 5px 0 0
		vertical-align   : top
		width            : 20px
	
	//direccion
	.icon--address
		background-image: url('../images/iconos/icono_contacto_direccion.png')	
	//contacto
	.icon--contact 
		background-image: url('../images/iconos/icono_contacto_sobre.png')	
	//telefono
	.icon--tel 
		background-image: url('../images/iconos/icono_contacto_telefono.png')
	

//>>>> mapa
.sectionContacto__mapa
	margin: 100px auto 0

#canvas-map
	height   : 344px 
	max-width: 100%
	width    : 100%


/****************************************************************************************/
/**--------------------------  MEDIAS QUERIES      ------------------------------------**/
/****************************************************************************************/

@media (max-width: 480px) 

	//[[[[[[[[[[[[[[[[[[[   HEADER   ]]]]]]]]]]]]]]]]]]]]]]]]]]]
	.mainHeader
		left      : 0 
		max-height: 117px
		position  : fixed
		right     : 0 
		top       : 0 
		z-index   : 99999
	
	//[[[[[[[[[[[[[[[[[[[ NAVIGATION ]]]]]]]]]]]]]]]]]]]]]]]]]]]
	.mainNav 
		ul 
			li 
				.sub-menu
					position  : relative
					//li 
					li 
						+transition( all 500ms ease )
						//hover li submenu
						&.current-menu-item,&:hover 
							background: white
							color     : $color_damol_orange

				//hover li main menu
				&:hover 
					.sub-menu 
						background: $color_damol_orange

	//[[[[[[[[[[[[[[[[[[[ SECCION BANNERS  ]]]]]]]]]]]]]]]]]]]
	.sectionBanner 
		.carousel-caption__content
			bottom: 10px
			h2,p
				font-size: 12px
				padding  : 10px


	//[[[[[[[[[[[[[[[[[[[ SECCION PORTADA - SERVICIOS ]]]]]]]]]]]]]]]]]]]
	.sectionHomeService
		width          : 100%
		//contenedor dearticulo 
		.sectionHomeService__content
			justify-content: center 
		//articulo 
		.sectionHomeService__article
			width: 100%

	//[[[[[[[[[[[[[[[[[[[ SECCION PORTADA - FACEBOOK ]]]]]]]]]]]]]]]]]]]
	.sectionHomeFacebook
		margin: 20px

	//[[[[[[[[[[[[[[[[[[[   PÁGINA  - NOSOTROS ]]]]]]]]]]]]]]]]]]]
	.sectionNosotros--bg-orange
		width: 100%
	//seccion valores
	.sectionNosotros__valores
		ul 
			padding: 0 0 0 5px

	//[[[[[[[[[[[[[[[[[[[ PÁGINA  - SERVICIOS ]]]]]]]]]]]]]]]]]]]

	//contenedor.
	.sectionService__content
		padding: 28px 15px 45px

		//listas
		ul 
			padding: 0 0 0 5px

	//[[[[[[[[[[[[[[[[[[[ PÁGINA  - CONTACTO ]]]]]]]]]]]]]]]]]]]
	.sectionContacto__info__office 
		p
			margin: 0 0 13px 0px
	//mapa
	.sectionContacto__mapa
		margin: 40px auto 0

	//[[[[[[[[[[[[[[[[[[[ FOOTER ]]]]]]]]]]]]]]]]]]]
	.mainFooter__content
		flex-wrap: wrap
		width    : 100%

		//ITEMS FOOTER INFO
		.item-prefooter--info,.item-prefooter--sociales,.item-prefooter--contacto
			border    : none 
			margin    : 15px auto 
			padding   : 0
			text-align: center 
			width     : 100%

	//[[[[[[[[[[[[[[[[[[[  WRAPPERS  ]]]]]]]]]]]]]]]]]]]
	.sectionWrapper__content
		padding: 57px 15px 0