
@import "compass/css3"

/***************************************************************************************/
/**-------------------------- RESET --------------------------------------------------**/
/***************************************************************************************/
body,html
	font-size: 16px
	width    : 100%

/***************************************************************************************/
/**-------------------------- VARIALBLES ---------------------------------------------**/
/***************************************************************************************/

$color_black       : #2f2f2f
$color_damol_orange: #ff7e00


/***************************************************************************************/
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------**/
/***************************************************************************************/


/***************************************************************************************/
/**-------------------------- TEXTOS           ---------------------------------------**/
/***************************************************************************************/

/***************************************************************************************/
/**-------------------------       WRAPPER         -        --------------------------**/
/***************************************************************************************/


/***************************************************************************************/
/**-------------------------- HEADER   -----------------------------------------------**/
/***************************************************************************************/



/***************************************************************************************/
/**-------------------------- FOOTER   -----------------------------------------------**/
/***************************************************************************************/

/***************************************************************************************/
/**--------------------------     LOGO  --------  ------------------------------------**/
/***************************************************************************************/


/***************************************************************************************/
/**-------------------------- NAVIGATION ----------------------------------------------**/
/***************************************************************************************/

//nav
.mainNav
	background-color: $color_black

	//ul
	ul
		li 
			border-top: 3px solid transparent
			margin    : 2px 12px 15px
			padding   : 15px 8px 0
			+transition( all 300ms ease )

			//activo seccion actual
			&:hover,&.current-menu-item,&.current-page-item
				border-top: 3px solid $color_damol_orange

				a 
					color: $color_damol_orange

			a 
				color          : white
				display        : block
				font-size      : 0.75em
				font-weight    : 600 
				text-decoration: none
				text-transform : uppercase
				+transition( all 300ms ease )
				
				//hover
				&:hover 
					text-decoration: none


/***************************************************************************************/
/**-------------------------- WIDGETS    ----------------------------------------------**/
/***************************************************************************************/



/***************************************************************************************/
/**-------------------------- ------   BANNERS   ------------------------------------**/
/***************************************************************************************/