
@import "compass/css3"

/***************************************************************************************/
/**-------------------------- VARIALBLES ---------------------------------------------**/
/***************************************************************************************/

$color_black       : #2f2f2f


$color_damol_orange: #ff6600
$color_orange_suave: #a26c3d

$color_gray        : #f1eff0
$color_gray_dark   : #c2c2c2
$color_gray_text   : #848484 

/***************************************************************************************/
/**-------------------------- RESET --------------------------------------------------**/
/***************************************************************************************/
body,html
	background: $color_damol_orange
	font-size : 16px
	width     : 100%



/***************************************************************************************/
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------**/
/***************************************************************************************/


//>>>>>>> FLECHAS DE CAROUSEL 
	//flechas
.sectionCarousel__arrow 
	+transition( all 400ms ease )
	color   : transparent
	cursor  : pointer 
	height  : 20px
	margin  : -10px auto 0
	position: absolute
	top     : 50%
	width   : 10px
	z-index : 9999

	a 
		color : transparent
	

	//hover 
	&:hover 
		+opacity(0.7)
		+scale( 1.2 )

//prev
.sectionCarousel__arrow--prev
	left: 0
	background: url('../images/arrows/arrow-left.png') no-repeat
//next
.sectionCarousel__arrow--next
	right: 0
	background: url('../images/arrows/arrow-right.png') no-repeat

//>> ITEMS FLEXBOX
.item-flexbox
	display: flex
.item-flexbox-wrap
	flex-wrap: wrap 
.item-flexbox-justify
	justify-content: space-around

//>>> FIGURE - BANNERS
.bn_ImagePage
	img
		min-width: 1107px

/***************************************************************************************/
/**-------------------------- TEXTOS           ---------------------------------------**/
/***************************************************************************************/

/***************************************************************************************/
/**-------------------------       WRAPPER         -        --------------------------**/
/***************************************************************************************/

//>>> MAIN WRAPPER
.mainWrapper
	background-color: white 
	max-width       : 1107px
	width           : 100%

.mainWrapper--padding 
	padding: 70px 0 0 0

//>>> WRAPPER flex
.wrapper-flex
	align-content:center 
	display      : flex

//TITULOS
.mainWrapper__title
	border-left: 3px solid $color_damol_orange
	color      : black
	font-size  : 1.5em 
	font-weight: 700
	margin     : 0 auto
	padding    : 0 0 0 10px 

//>>> WRAPPER POSITION relative
.section-wrapper-relative
	position: relative

//>> WRAPPER CONTENIDO 
.sectionWrapper__content
	padding: 57px 52px 0




/***************************************************************************************/
/**-------------------------- HEADER   -----------------------------------------------**/
/***************************************************************************************/



/***************************************************************************************/
/**-------------------------- FOOTER   -----------------------------------------------**/
/***************************************************************************************/

.mainFooter
	width: 100%

//>>> contenedor limite
.mainFooter__content 
	display        : flex
	justify-content: space-between
	margin         : 0 auto 
	max-width      : 1145px
	padding        : 12px 20px
	width          : 90.6%

	//clases interiores
	.text-copyright
		color    : $color_gray_text
		font-size: 0.75em

	//text-web
	.text-web
		color    : white 
		font-size: 1.5em
		span 
			color: $color_damol_orange

//>>contenedor centrado items certicamente
.mainFooter__content--center
	align-items: center

	p 
		margin: 0

//>>PREFOOTER
.mainFooter__prefooter
	background     : url('../images/footer/bn_inicio_inferior.jpg') no-repeat
	background-size: 100% 100%

//>>Clases para cada artículo
.item-prefooter
	//title
	h2 
		color      : white
		font-size  : 1.125em
		font-weight: 700
		margin     : 0 auto 12px

	//parrafo
	p 
		color: $color_gray_text
		font-size: 13px

//item de informacion
.item-prefooter--info
	border-right: 2px solid rgba(255,255,255,.5)
	max-width   : 620px
	padding     : 0 0 0 39px

	//logo
	.logo__black
		position: absolute
		left: -110px
	//parrafo
	.info__about
		display       : inline-block
		margin        : 0 13px 0 0
		width         : 65%
		vertical-align: top
	.info__about-img
		display: inline-block

//item de redes sociales
.item-prefooter--sociales
	align-content: center
	border-right : 2px solid rgba(255,255,255,.5)
	display      : flex
	flex-wrap    : wrap
	min-width    : 191px
	padding      : 0 10px

	//lista
	.item-prefooter__social-links
		list-style-type: none
		margin         : 15px auto 0 
		padding        : 0
		li 
			display: inline-block
			padding: 0 5px
			a 
				display: block
				height : 31px
				width  : 31px

//item informacion de contacto 
.item-prefooter--contacto
	padding: 0 0 0 25px

	.text-orange
		color: $color_orange_suave

//>>mainFooter__info BARRA DE INFORMACIÓN
.mainFooter__info
	background: black

/***************************************************************************************/
/**--------------------------     LOGO  --------  ------------------------------------**/
/***************************************************************************************/


/***************************************************************************************/
/**-------------------------- NAVIGATION ----------------------------------------------**/
/***************************************************************************************/

//nav
.mainNav
	background-color: $color_black

	//ul
	ul
		margin: 0 auto
		li 
			border-top: 3px solid transparent
			margin    : 2px 12px 15px
			padding   : 15px 8px 0
			+transition( all 300ms ease )

			//activo seccion actual
			&:hover,&.current-menu-item,&.current-page-item
				border-top: 3px solid $color_damol_orange

				a 
					color: $color_damol_orange

			a 
				color          : white
				display        : block
				font-size      : 0.75em
				font-weight    : 600 
				text-decoration: none
				text-transform : uppercase
				+transition( all 300ms ease )
				
				//hover
				&:hover 
					text-decoration: none


/***************************************************************************************/
/**-------------------------- WIDGETS    ----------------------------------------------**/
/***************************************************************************************/



/***************************************************************************************/
/**-------------------------- ------   BANNERS   ------------------------------------**/
/***************************************************************************************/

//BANNER PORTADA HOME
.sectionBanner
	
	//contenido caption interior.
	.carousel-caption__content 
		position: absolute
		z-index : 99999
		top     : 32.5%

		//ESTILOS DE FUENTES E INTERIOR
		h2
			background : $color_black
			color      : white
			font-size  : 1.6875em
			font-weight: 700
			margin     : 0 auto
			padding    : 14px 21px

		p 
			background-color: $color_damol_orange
			color           : white
			font-size       : 1.125em
			line-height     : 1em 
			margin          : 0 auto 
			padding         : 6px 31px 11px

	//contenido administrado en el backend izquierda o derecha
	.carousel-caption__content--left
		left: 9.97%
	.carousel-caption__content--right
		right: 9.97%

	//>>>>> INDICADORES -ol
	.carousel-indicators
		li 
			+border-radius(0px)
			background: white 
			border    : none
			height    : 14px
			margin    : 0 7px 
			width     : 14px

			//activo
			&.active
				background-color: $color_damol_orange


/***************************************************************************************/
/**-------------------------- ------  PORTADA     ------------------------------------**/
/***************************************************************************************/

//seccion servicios
.sectionHomeService
	margin   : 0 20px 
	max-width: 720px
	width    : 68%

	
	.sectionHomeService__content
		flex-wrap: wrap
		margin   : 15px auto 0

	//article
	.sectionHomeService__article
		margin   : 0 12px 34px
		max-width: 330px
		width    : 46%
		
		//hover 
		&:hover 
			h3 
				background-color: $color_damol_orange
			img
				+scale( 1.2 )
				+opacity(0.7 )

		//titulo 
		h3 
			background-color: $color_black
			color           : white 
			font-size       : 1.125em 
			margin          : 0 auto
			padding         : 14px 0
			+transition( all 450ms ease )

		//imagen
		figure 
			overflow: hidden
			img
				+transition( all 450ms ease-in-out )

//seccion facebook
//contenedor
.sectionHomeFacebook 
	
.sectionHomeFacebook__content
	border     : 2px solid $color_damol_orange
	border-left: none

//Seccion Proyectos Realizados
.sectionHomeProyects
	background-color: $color_gray
	padding         : 45px 20px

	//title con color naranja
	h2 
		color: $color_damol_orange

	//CAROUSEL
	.bx-wrapper
		padding: 0 0 0 15px
		.bx-viewport
			background: transparent
			border    : none
			margin    : 0 auto 
			+box-shadow( none )

	//>>>>>>> ARTICULO DEL CAROUSEL
	.sectionHomeProyects__article
		h2
			background-color: $color_gray_dark
			color           : $color_black
			font-size       : 1.375em
			margin          : 0 auto
			padding         : 12px
			text-decoration: none
			+transition( all 500ms ease )

		a 
			text-decoration: none

		//imagen 
		figure 
			overflow: hidden
			position: relative
			img 
				+transition( all 500ms ease )
			//span transpancia
			.bg-transparence
				+opacity(0)
				+transition( all 500ms ease )
				background: rgba(0,0,0,.2)
				bottom    : 0
				left      : 0
				position  : absolute
				right     : 0
				top       : 0

		//hover 
		&:hover 
			h2
				background-color: $color_damol_orange
				color           : white 
			img
				+scale( 1.2 )
			.bg-transparence
				+opacity(1)

//Seccion Clientes Carousel
.sectionClients
	padding: 45px 20px
	
	//contenedor por defecto libreria bxslider
	.bx-wrapper
		padding: 0
		.bx-viewport
			background: transparent
			border    : none
			margin    : 0 auto 
			+box-shadow( none )

	//contenedor de carousel
	.sectionClients__carousel
		padding: 0 20px


/***************************************************************************************/
/**--------------------------  SECCION DE NOSOTROS  ----------------------------------**/
/***************************************************************************************/

.sectionNosotros

	//TITULO
	h2 
		border-left: 3px solid $color_damol_orange
		font-size  : 1.375em
		margin     : 0 0 20px 
		padding    : 0 0 0 6px 

	//parrafo
	p 
		color    : $color_gray_text
		font-size: 0.8125em

//section background orange
.sectionNosotros--bg-orange
	background: $color_damol_orange  
	margin    : 25px 0
	width     : 48% 

//secciones independientes mision y vision
.sectionNosotros__mision,.sectionNosotros__vision
	color  : white 
	padding: 20px

	//TITULO
	h2 
		border-left: 3px solid rgba(0,0,0,.8) 
		color      : white

	//parrafo
	p
		color: white 
